@font-face {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: 'BN Wispy';
  src: url('../fonts/bn-wispy-regular.woff2') format('woff2'),
    url('../fonts/bn-wispy-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
